/* Navbar.css */

.navbar {
    background-color: #939128;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1rem;
  }
  
  .menu a:hover {
    text-decoration: underline;
  }
  
  .gh{
    width: 1190px;
   
  }

  .admin-h1{
    text-align: center;
    padding-top: 200px;
    float: left;
    margin-left: 100px;
  }